vignettes/*.html
vignettes/*.R
.Rproj.user
inst/doc
inst/
# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R
# RStudio files
.Rproj.user/
